<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397061739942-dt11mp0cnp8i6ss4cv43sdpbn8nkr4ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397061739942-dt11mp0cnp8i6ss4cv43sdpbn8nkr4ep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397061739942-02qkfqvd6lfdkn30h0h1m7424ceq6132.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3hFD-pHoFdDWmkAtlAyOHcwK7nMNU7ew</string>
	<key>GCM_SENDER_ID</key>
	<string>397061739942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanzen.iskapscalc</string>
	<key>PROJECT_ID</key>
	<string>isk-aps-calc-tel-u</string>
	<key>STORAGE_BUCKET</key>
	<string>isk-aps-calc-tel-u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397061739942:ios:6d19adec064c3b0a36ab67</string>
	<key>DATABASE_URL</key>
	<string>https://isk-aps-calc-tel-u.firebaseio.com</string>
</dict>
</plist>