<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150859444869-einfpsn723n53ok8f9kip0lhcf752bkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150859444869-einfpsn723n53ok8f9kip0lhcf752bkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150859444869-4chalrkigi56lkddeqc3q1mbkuag94hi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpzfpomhs1w0ilEId9e25wZ1CPo7n75e4</string>
	<key>GCM_SENDER_ID</key>
	<string>150859444869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanzen.quickiskaptaps</string>
	<key>PROJECT_ID</key>
	<string>quick-isk-apt-aps</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-isk-apt-aps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150859444869:ios:5fa76d8e94b8b978942fec</string>
	<key>DATABASE_URL</key>
	<string>https://quick-isk-apt-aps.firebaseio.com</string>
</dict>
</plist>